.logo {
    width: 100px;
    height: 50px;
}

.navBox {
    width: auto;
}







@media (max-width: 400px) {
    .logo {
        width: 75px;
        height: 37.5px;
        margin-right: auto;
        margin-left: auto;
    }
  }